/* **********************GOOGLE FONT LINK**************** */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e1e1e1;
text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#insert{
   max-width: 100%;
   justify-content: center;
   width:800px;
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   
}

.key{
  border: 1px solid #999;
  background-color: #eee;
  box-shadow: 1px 1px 3px rgba(0, 0, 0,0.2);
display: inline-flex;
  align-items: center;
  
  font-size: 20px;
  padding: 20px;
  flex-direction: column;
  margin: 10px;
  font-weight: bold;
  min-width: 150px;
  position: relative;
}
.key small{ 
  position: absolute;
  top: -24px;
  left: 0;
  text-align: center;
  width: 100%;
  color:#555 ;

}
